
.header-bar {
  background-color: #ff0707;
  color: white;
  padding: 20px 10%;
  text-align: center;
  position: relative;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

.main-title {
  font-size: 3rem;
  margin: 10px 0;
  position: relative;
}

.ip-poort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 10px;
}

.ip-button {
  background-color: white;
  color: black;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.ip-button:hover {
  background-color: #f0f0f0;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.nav-buttons a {
  text-decoration: none;
}

.section {
  text-align: center;
  padding: 60px 10% 80px 10%;
  font-size: 1.2rem;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.gamemode-section {
  margin-top: 60px;
}

.gamemode-box {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.gamemode-box h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  margin-top: 50px;
}

.team-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.red-line {
  width: 80%;
  height: 4px;
  background-color: #ff0707;
  margin: 20px auto;
}

.copy-box {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}
.copy-box:hover {
  background-color: #e0e0e0;
}
.copy-box::after {
  content: '\1F4CB';
  margin-left: 10px;
}

.rules-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: left;
  margin-top: 20px;
  flex-wrap: wrap;
}
.rules-box {
  width: 45%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.rules-box h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.rules-box ul {
  list-style-type: none;
  padding: 0;
}
.rules-box li {
  margin: 10px 0;
}
.rules-box li strong {
  color: #d9534f;
}
