<section class="header-bar">
  <button class="login-button" onclick="window.location.href='/login'">Login</button>

  <div class="ip-poort-container">
    <div class="ip-button" onclick="copyText('Play.KersMC.nl')">IP: Play.KersMC.nl</div>
    <h1 class="main-title"><a href="index.html" style="color: white; text-decoration: none;">KersMC</a></h1>
    <div class="ip-button" onclick="copyText('37712')">Poort: 37712</div>
  </div>

  <div class="nav-buttons">
  <a href="/hardcore" class="button is-light">Hardcore</a>
  <a href="/discord" class="button is-light">Discord</a>
  <a href="/content" class="button is-light">Content</a>
  <a href="/nieuws" class="button is-light">Nieuws</a>
  <a href="/team" class="button is-light">Team</a>
  <a href="https://www.etheron.nl" target="_blank" class="button is-light">Etheron</a>
  <a href="https://kersmc.tebex.io" target="_blank" class="button is-light">Shop</a>
  <a href="https://encrypter.kersmc.nl" target="_blank" class="button is-light">Encrypter</a>
 </div>
</section>
