<section class="header-bar">
  <button class="login-button" onclick="window.location.href='/login'">Login</button>

  <div class="ip-poort-container">
    <div class="ip-button" onclick="copyText('Play.KersMC.nl')">IP: Play.KersMC.nl</div>
    <h1 class="main-title"><a href="index.html" style="color: white; text-decoration: none;">KersMC</a></h1>
    <div class="ip-button" onclick="copyText('37712')">Poort: 37712</div>
  </div>

  <div class="nav-buttons">
    <a href="/index.html" class="button is-light">Home</a>
    <a href="/algemeen.html" class="button is-light">Algemeen</a>
    <a href="/survival.html" class="button is-light">Survival</a>
    <a href="/hardcore.html" class="button is-light">Hardcore</a>
    <a href="/pixelmon.html" class="button is-light">Pixelmon</a>
    <a href="/pvp.html" class="button is-light">PvP</a>
    <a href="/content.html" class="button is-light">Content</a>
    <a href="https://kersmc.tebex.com" target="_blank" class="button is-light">Shop</a>
  </div>
</section>
